.app-container {
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.homeContainer {
  flex: 1;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
}

.partAd {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 375px;
  width: 100%;
  background-color: #FCE0DF;
  margin: 8px;
}

.partRising {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FCE0DF;
  padding: 8px;
  gap: 8px;
  box-sizing: border-box;
}

.risingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  gap: 8px;
}

.titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border-radius: 12px;
  background-color: #F9BABA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.risingHeader > p {
  font-size: 12px;
  box-sizing: border-box;
  margin: 0;
}

.topicTap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  border-radius: 12px;
  background-color: #F9BABA;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}

.checkArea {
  width: 100%;
  box-sizing: border-box;
}

.areaList {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  box-sizing: border-box;
}

.districtButton {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 12px;
  background-color: #F9CACA;
  white-space: nowrap;
}

.topicList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.topicItem {
  width: 290px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #F9CACA;
  margin: 3px;
  box-sizing: border-box;
}
