.map-container {
    width: 310px;
    height: 600px;
    display: flex;
    flex-direction: column;
    
}
.map-header {
    font-size: 13px;
    font-weight: bolder;
    color: #E57373;
    white-space: pre-wrap;
    box-sizing: border-box;
}
.part-map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    box-sizing: border-box;
}