.header_div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #E57373;
  padding: 0 16px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  box-sizing: border-box;

  height: 56px;

  background-color: #FEEFEF;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  z-index: 1000;
}

.header_div h1 {
  margin: 0;
  font-size: 1.5rem;
}

.material-symbols-outlined {
  font-size: 24px;
  line-height: 1;
  user-select: none;
}
