/* App.css */
html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF6F6;
  height: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #FEEFEF;
  height: 100vh;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.sub-text {
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.selected-info-group {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.selected-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9AAAA;
  width: 177px;
  height: 32px;
  border-radius: 16px;
  font-size: 0.9rem;
  font-weight: 600;
}

.type {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.type-button {
  width: 115px;
  height: 45px;
  background-color: #F9CACA;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  transition: background-color 0.2s;
}


.type-button:hover {
  background-color: #eabbbb;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9AAAA;
  width: 177px;
  height: 32px;
  border: none;
  border-radius: 16px;
  padding: 0.45rem 2rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 600;
}